@import '_variables';
@import '_mixin';

.bestseller-products{
    @extend .seller-popular-products;
}

.bestseller-products-container{
    max-width: 1200px;
    margin: 0 auto;
    font-family: $poppins-font;
    .bestseller-title{
        display: flex;
        align-items: center;
        margin: 10px 10px 10px 30px;
        p{
            font-size: 25px;
            font-weight: bold;
            margin-right: 10px;
        }
        i{
            font-size: 40px;
            color: rgb(232, 232, 4);
        }
    }

    .products-list{
        margin: 0 30px;
        .slick-slide{
            display: flex !important;
            justify-content: center;
        }
        .product-info{
            width: 260px !important;
            margin: 20px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            padding: 15px 10px;
            cursor: pointer;
            transition: 0.5s ease;
            &:hover{
                box-shadow: 0 0 8px $primary-color;
                .product-img{
                    transform: scale(1.1);
                }
            }
            .product-img{
                // width: 120px;
                height: 170px;
                object-fit: cover;
                display: block;
                margin: 0 auto;
                transition: 0.5s ease-in-out;
            }
            .product-name{
                margin: 15px 0 5px 0;
            }
            .product-price{
                color: $primary-color;
                margin-bottom: 5px;
                font-weight: bold;
                letter-spacing: 0.9px;
            }
            .add-btn{
                width: fit-content;
                display: block;
                margin: 0 auto;
                background-color: $primary-color;
                color: white;
                border: 1px solid $primary-color;
                padding: 5px 20px;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.3s ease;
                letter-spacing: 0.9px;
                &:hover{
                    background-color: $hover-color;
                }
                &:active{
                    background-color: $primary-color;
                }
            }
        }
    }
}

