@import "variables";
@import "mixin";

.orders {
    font-family: $poppins-font;
    max-width: 1200px;
    margin: 200px auto;
    padding: 0 20px;
}

.orders-title {
    h2{
        font-size: 32px;
        letter-spacing: 0.8px;
    }
    margin-bottom: 30px;
    // border-bottom: 1px solid $primary-color;
    
}

.orders-information{
    .total-orders{
        @include flex(row, flex-start, flex-start);
        margin-bottom: 20px;
        p{
            margin-right: 10px;
        }

    }
}

.make-order{
    text-align: center;
    margin-top: 200px;
    font-size: 33px;
    font-weight: 600;
    font-family: $poppins-font;
    letter-spacing: 0.8px;
}

.overflow-x-auto{
    overflow-x: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: left;
    padding: 10px 0;
}
td {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 15px 0;
    font-size: 14px;
}

tr{
    color: rgb(40, 40, 40);
}

// tr:nth-child(odd) {
//     background-color: #f2f2f2;
// }

tr:nth-child(1){
    background-color: transparent;
    color: black;
}

.order-detail-link{
    text-decoration: none;
    color: $primary-color;
    text-decoration: underline;
    &:hover{
        color: $hover-color;
    }
}
@media screen and (max-width: 768px){
    .orders{
        margin-top: 150px;
    }
    th,
    td{
        padding: 10px 15px;
    }
}


