@import 'variables';
@import 'mixin';

.reset-password{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    font-family: $poppins-font;
    .reset-password-title{
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }
    form{
        margin: 0 auto;
        max-width: 544px;
        padding: 20px;
        @include flex(column, flex-start, center);
        box-shadow: 0px 0px 25px 10px #F8F8FB;
        .password-container,
        .confirm-password-container{
            width: 100%;
            margin-bottom: 23px;
            .password-input,
            .confirm-password-input{
                display: block;
                width: 100%;
                padding: 15px 13px;
                font-size: 17px;
                border-radius: 5px;
                outline: none;
                border: 1px solid #C2C5E1;
                background: #FFF;
                margin-bottom: 5px;
            }
            .password-error,
            .confirm-password-error{
                width: 100%;
                text-align: left;
                margin-bottom: 0;
                font-size: 13px;
                color: red;
            }
        }
        .reset-pending{
            color: #9096B2;
            margin-bottom: 15px;
            text-align: center;
        }
        .reset-rejected{
            color: red;
            margin-bottom: 15px;
            text-align: center;
        }
        .reset-fulfilled{
            color: rgb(200, 153, 121);
            margin-bottom: 15px;
            text-align: center;
        }
        .reset-password-btn{
            border-radius: 5px;
            font-size: 17px;
            width: 100%;
            padding: 13px 0;
            background-color: $primary-color;
            border: 2px solid transparent;
            color: white;
            transition: 0.3s ease;
            cursor: pointer;
            margin-bottom: 28px;
            &:hover{
                background-color: $hover-color;
            }
        }
    }
}

@media screen and (max-width: 850px){
    .reset-password{
        margin-top: 150px;
    }
}